@media all and (max-width: 1199px) and (min-width: 760px){
    #wrap{
        width: 100%;
        position: relative;
        overflow: hidden;
    }
    section{
        position: relative;
    }
    .container{
        width: 90%;
        height: 80%;
        /* background-color: thistle; */
        margin: 0 auto;
        margin-top: 80px;
        position: relative;
    }
    .container>h2{
        font-size: 30px;
        padding-top: 2%;
    }
    
    /* header start! */
    header{
        width: 100%;
        height: 105px;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 99;
    }
    .in_header{
        width: 90%;
        height: 100%;
        margin: 0 auto;
    }
    #logo{
        margin-top: 5px;
        width: 100px;
        height: 100%;
        background-image: url(../img/logo.png);
        background-size: cover;
        background-position: center;
        float: left;
    }
    #menu_wrap{
        display: none;
    }
    /* hidden_menu */
    #ham_btn{
        width: 55px;
        height: 55px;
        position: absolute;
        top: 20px;
        right: 25px;
        font-size: 0;
        z-index: 4;
        background-color: transparent;
        border: none;
        cursor: pointer;
        outline: 0;
    }
    #ham_btn i{
        background-color: #fff;
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -1px;
        width: 100%;
        height: 2px;
        right: 0;
        transition: background-color 0.3s 0s, opacity 0.3s 0.3s, margin 0.3s 0.3s, transform 0.3s 0s;
    }
    #ham_btn i:nth-child(1){
        margin-top: -15px;
    }
    #ham_btn i:nth-child(3){
        margin-top: 13px;
    }
    #ham_btn:hover i {
        background-color: #e30610;
    }
    .hidden_menu_wrap.opend #ham_btn i:nth-child(1) {
        margin-top: -1px;
        transform: rotate(-45deg);
    }
    .hidden_menu_wrap.opend #ham_btn i:nth-child(2) {
        opacity: 0;
    }
    .hidden_menu_wrap.opend #ham_btn i:nth-child(3) {
        margin-top: -1px;
        transform: rotate(45deg);
    }
    .hidden_menu_wrap.opend #ham_btn i {
        background-color: #fff;
        transition-delay: 0s, 0s, 0s, 0.3s;
    }
    .hidden_menu_wrap{
        position: absolute;
        top: 0;
        right: 0;
    }
    .hidden_menu{
        position: fixed;
        top: 0;
        right: -1200px;
        width: 100%;
        height: 100%;
        max-width: 1200px;
        z-index: 3;
        opacity: 0;
        padding: 29vh 0 0;
        overflow: hidden;
        transition: all 0.5s ease-in-out;
        box-sizing: border-box;
    }
    .hidden_menu_wrap.opend .hidden_menu{
        width: 100%;
        height: 100%;
        right: 0;
        background-color: rgba(0,0,0,0.9);
        opacity: 1;
    }
    #main_menu{
        margin-top: -20px;
        font-size: 35px;
        text-align: center;
    }
    #main_menu li{
        margin-bottom: 30px;
    }
    #main_menu li a{
        transition-duration: 0.3s;
    }
    #main_menu li:hover>a{
        color: #e30610;
    }
    #other_menu{
        border-top: 1px solid #fff;
        font-size: 18px;
        font-weight: 300;
        position: absolute;
        bottom: 6%;
        left: 50%;
        transform: translateX(-50%);
        width: 90%;
    }
    #other_menu li{
        float: left;
        padding-top: 25px;
        padding-right: 15px;
        padding-left: 15px;
    }

    /* sec1 start! */
    #m_sec1{
        display: none;
    }
    .swiper-container {
        width: 100%;
        height: 100%;
        position: relative;
    }
    .swiper-slide>img{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
    }
    
    /* sec2 start! */
    #video_wrap{
        width: 100%;
        height: 100%;
        position: relative;
    }
    .video_bg{
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
    }
    #video_txt{
        position: absolute;
        bottom: 8%;
        left: 7%;
    }
    #video_txt>h2{
        font-size: 28px;
    }
    #video_txt>p{
        margin-top: 8px;
        font-size: 20px;
    }
    
    /* sec3 start! */
    .sec3_txt_box{
        width: 100%;
        height: auto;
        position: relative;
    }
    .sec3_txt_box>h2{
        font-size: 28px;
        padding-top: 2%;
        position: absolute;
        top: 0;
        left: 0;
    }
    #line{
        width: 420px;
        height: 25px;
        background-color: #e30610;
        position: absolute;
        top: 40px;
        left: -6%;
    }
    .bottom_wrap{
        width: 90%;
        height: auto;
        /* background-color: cadetblue; */
        position: absolute;
        left: 50%;
        bottom: 10%;
        transform: translateX(-50%);
        display: flex;
        justify-content: space-between;
    }
    #tab_swiper{
        width: 90%;
        height: 450px;
        position: absolute;
    }
    .img_wrap{
        width: 300px;
        height: 420px;
        background-color: #fff;
        float: left;
        color:#222;
        position: relative;
        padding: 15px;
        box-sizing: border-box;
    }
    .img_wrap>span{
        display: block;
        width: 100%;
        font-size: 16px;
        font-weight: 700;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .img_wrap>p{
        width: 100%;
        font-size: 23px;
        font-family: 'Nanum Gothic', sans-serif;
        line-height: 38px;
    }
    .img_box{
        width: 100%;
        height: auto;
        /* background-color: darkseagreen; */
        position: absolute;
        left: 0;
        bottom: 30px;
        cursor: pointer;
    }
    .img_box>img{
        margin: 0 auto;
        width: 90%;
        height: 90%;
    }
    .img_wrap>p>button{
        border: 0;
        outline: none;
        background-color: transparent;
        margin-left: 5px;
        position: relative;
    }
    #m_sec3{
        display: none;
    }
    #pc_sec3{
        display: none;
    }
    
    .arrow_wrap{
        width: 100px;
        height: auto;
        position: absolute;
        bottom: 5%;
        right: 7%;
    }
    
    
    /* sec4 start! */
    #sec4{
        color:#222;
    }
    #sec4_bg{
        width: 100%;
        height: 50%;
        background-color: #e30610;
        position: absolute;
        bottom:0;
        left: 0;
    }
    .fp-viewing-4 header .in_header>ul>li>a{
        color: #222;
    }
    #sec4_sub_txt{
        font-size: 28px;
        font-family: 'Nanum Gothic', sans-serif;
        padding-left: 25px;
        margin-top: 10px;
    }
    #sec4_sub_txt>span{
        color: #e30610;
        font-family: 'Open Sans', sans-serif;
    }
    #sec4_con{
        position: absolute;
        bottom: 5%;
        /* background-color: cadetblue; */
    }
    .sec4_img_box{
        /* background-color: burlywood; */
        float: left;
        border-radius: 30px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        top: 400px;
        transition: all 1.1s ease-out;
    }
    .fp-viewing-4 .sec4_img_box{
        top: 0;
    }
    .fp-viewing-5 .sec4_img_box{
        top: 0;
    }
    .fp-viewing-4 #ham_btn>i{
        background-color: #222;
    }
    .fp-viewing-4 #ham_btn:hover i{
        background-color: #e30610;
    }
    .fp-viewing-4 .hidden_menu_wrap.opend #ham_btn i {
        background-color: #fff;
        transition-delay: 0s, 0s, 0s, 0.3s;
    }
    
    #box1{
        width: 300px;
        height: 400px;
        margin-top: 100px;
        background-image: url(../img/sec4_1.jpg);
    }
    #box2{
        width: 250px;
        height: 450px;
        margin-top: 50px;
        background-image: url(../img/sec4_2.jpg);
    }
    #box3{
        width: 280px;
        height: 500px;
        background-image: url(../img/sec4_3.jpg);
    }
    .sec4_img_box>p{
        position: absolute;
        bottom: 5%;
        left: 3%;
        color: #fff;
        font-family: 'Nanum Gothic', sans-serif;
        font-size: 14px;
    }
    #m_sec4_con{
        display: none;
    }
    
    /* sec5 start! */
    #sec5{
        background-image: url(../img/sec5.jpeg);
        background-size: cover;
        background-position: center;
    }
    #txt_box{
        position: absolute;
        bottom: 12%;
        left: 6%;
    }
    #txt_box>h1{
        font-size: 30px;
        font-family: 'Nanum Gothic', sans-serif;
        cursor: pointer;
    }
    #txt_box>h1>button{
        width: 22px;
        height: 16px;
        outline: none;
        border: 0;
        background-color: transparent;
        padding-left: 10px;
        background-image: url(../img/arr_wht.png);
        transition-duration: 0.5s;
    }
    #txt_box>h1:hover>button{
        background-image: url(../img/arr_red.png);
    }
    
    /* footer start! */
    footer{
        font-size: 14px;
        color:#222;
    }
    footer a{
        color: #222;
    }
    .top_footer{
        margin-top: 50px;
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;
    }
    .foot_info{
        font-weight: 600;
    }
    .foot_info>li{
        font-family: 'Nanum Gothic', sans-serif;
        font-weight: 500;
        line-height: 25px;
    }
    #facebook{
        width: 25px;
        height: 25px;
        background-image: url(../img/face.png);
        background-size: 100%;
        vertical-align: middle;
        display: inline-block;
    }
    #insta{
        width: 25px;
        height: 25px;
        background-image: url(../img/insta.png);
        background-size: 100%;
        vertical-align: middle;
        display: inline-block;
    }
    #sns_wrap{
        margin-right: 15px;
    }
    #sns_wrap>li{
        line-height: 32px;
    }
    .bottom_footer{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
        margin-bottom: 40px;
    }
    .bottom_footer>span{
        line-height: 50px;
    }
    #f_logo{
        padding-right: 8%;
    }
    #f_logo>img{
        width: 70px;
        float: left;
    }
    #f_logo>p{
        text-align: center;
        line-height: 55px;
        float: left;
    }
    #m_top_footer{
        display: none;
    }
    
    /* top btn */
    #to_top{
        width: 45px;
        height: 45px;
        background-color: #e30610;
        border-radius: 50%;
        position: fixed;
        bottom: 5%;
        right: 5%;
        z-index: 99;
        line-height: 45px;
        font-size: 14px;
        text-align: center;
        font-weight: 600;
        box-shadow:4px 6px 12px 0 rgb(0 0 0 / 20%);
        transition-duration: 0.3s;
        cursor: pointer;
    }
    .fp-viewing-4 #to_top{
        background-color: #fff;
        color: #222;
    }
    .fp-viewing-0 #to_top{
        opacity: 0;
    }
    
    }
    /* media query end*/